{% extends "blogs/base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blogs/app.css' %}">
{% endblock %}

{% block page_title %}
All Posts
{% endblock %}

{% block body_content %}
 <section>
    <h2>All My Posts</h2>
    <!-- {% include "blogs/includes/header.html" with active_page="All Posts" %} -->
    <ul>
        {% for blog in blogs %}
            <li>
                <article>
                  <a href="{% url 'blog-post' blog=blog %}">{{ blog|capfirst }}</a></li> 
                 <img src="{% static 'blogs/images/download.jpeg' %}" alt="Python" />   
                <div>   
                    <h3>Python Intro</h3>
                    <p>Python is a high-level programming language</p>
                </div>            
                </article>  
            </li>  
        {% endfor %}
    </ul>
 </section>

{% endblock %}
