{% extends "blogs/base.html" %}
{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blogs/app.css' %}">
{% endblock %}

{% block page_title %}    
    Our blog post home page
{% endblock %}

{% block body_content %}
    <!-- {% include "blogs/includes/header.html" %} -->
       <header>
          <h1><a href="" ></a>Home Page</h1> 
          <nav> 
            <a href="" >All posts</a>
          </nav>
       </header> 

<!-- Home page section -->
       <section>
        <header>
            <h1>Welcome to my personal blog post</h1>    
            <h2>I write about Python and related stuff</h2>
            <img src="{% static 'blogs/images/author.jpg.jpeg' %}" alt="Author" />
        </header>
       </section>
<!-- Featued post section -->
       <section> 
        <h2>Featured Posts</h2>
         <ul>
            <li>
                <article>
                    <a href=""></a>
                    <img src="{% static 'blogs/images/download.jpeg' %}" alt="Python" />
                    <div>   
                        <h3>Python Intro</h3>
                        <p>Python is a high-level programming language</p>
                    </div>
                </article>
            </li>
<!-- Featured post -2 section -->
            <li>
                <article>
                    <a href=""></a>
                    <img src="{% static 'blogs/images/images.jpeg' %}" alt="Django" />
                    <div>   
                        <h3>Django Basics</h3>
                        <p>Django is a high-level Python web framework</p>
                    </div>
                </article>
            </li>
         </ul>    
       </section>

    <section>
        <h2>About Me</h2>
         <p> The author has 10+ years of experience in software and application development.
            He also make content on Python & Django.
         </p>
         <p>Contact the author on contact@example.com</p>
    </section>
    {% endblock %}

    </head>
<body>
    <h1>Welcome to my personal blog post</h1>    
    <h2>I write about Pthon and related stuff</h2>
</body>
</html>