{% extends "blogs/base.html" %}
{% load static %}

{% block page_title %}    
    {{ post.title }}
{% endblock %}  
  

{% block body_content %}
<!-- To use tags  -->
   <section>  
      <h2>{{ post.title }}</h2>
      <div>
         {% for tag in tags %}
           <span>{{ tag }}</span>     
         {% endfor %}</div>
      </div>     
<!-- To use tags  -->

      <article> 
        <img src="{% static 'blogs/images/' %}{{ post.image }}" alt="{{ post.title }}" />
        <address>By <a href="mailto: {{ post.author.email }}">{{ post.author }}</a></address>
        <div>Posted on <time>{{ post.date|date:"d M Y" }}</time></div>
      </article>
   </section>

   <main>
      <p>{{ post.content }}</p> 
   </main>

    <section>
        <form>
           {{ comment_form }}
            <button>Save</button>
        </form>
    </section>    
{% endblock %}    


